# URL de base de votre API Django
# En développement, le proxy dans package.json redirige automatiquement vers localhost:8000
# En production, remplacez par l'URL réelle de votre serveur

REACT_APP_API_URL=http://localhost:8000/api
